[submodule "external/gtest"]
	path = external/gtest
	url = https://github.com/google/googletest.git
[submodule "external/KaHIP"]
	path = external/KaHIP
	url = https://github.com/KaHIP/KaHIP
[submodule "external/GKlib"]
	path = external/GKlib
	url = https://github.com/KarypisLab/GKlib
[submodule "external/METIS"]
	path = external/METIS
	url = https://github.com/KarypisLab/METIS
[submodule "external/scotch"]
	path = external/scotch
	url = https://github.com/live-clones/scotch
